@font-face {
    font-family: 'Minecraftia';
    src: url('/static/fonts/minecraftia.ttf') format('truetype');
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #FDABDD, #374A5A);
    position: relative;
    overflow-x: hidden;
    font-family: 'Minecraftia', sans-serif;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-item.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-item.title {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    margin-left: 20px;
}

.nav-item img {
    margin-right: 5px;
    height: 40px;
}

.nav-item a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    margin-left: 5px;
}

.nav-item h1 {
    color: white;
    font-family: 'Minecraftia', sans-serif;
    text-decoration: none;
    font-size: 35px;
    margin-bottom: 3px;
    padding-right: 460px;
}

.nav-item a:hover {
    background-color: lightpink;
    color: black;
}

.nav-item a.active {
    background-color: #04AA6D;
    color: white;
}

h1 {
    text-align: center;
    color: #FF69B4; /* Hot pink */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 2px 2px 0 #FFA07A, -2px -2px 0 #FFA07A; /* Light salmon shadow */
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #FFB6C1; /* Light pink border */
    border-radius: 15px;
    background-color: #FFEBEE; /* Misty rose background */
    box-shadow: 0 0 10px #FF69B4; /* Hot pink shadow */
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin: 10px;
}

form p {
    font-size: 18px;
    color: #FF69B4; /* Hot pink */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #FF69B4; /* Hot pink */
    text-shadow: 1px 1px 0 #FFA07A, -1px -1px 0 #FFA07A; /* Light salmon shadow */
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #FF69B4; /* Hot pink border */
    border-radius: 10px;
    background-color: #FFF0F5; /* Lavender blush background */
    box-shadow: 0 0 5px #FF69B4; /* Hot pink shadow */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    color: #FF69B4; /* Hot pink text */
}

.button {
    margin-top: 40px;
    padding: 20px 30px;
    display: inline-block;
    font-size: 50px;
    font-family: 'Minecraftia', serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: hotpink;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 110px;
}

#next-button1 {
    border: 1px solid #FFC0CB;
    margin-top: 50px;
    width: 30%;
    margin-left: 260px;
    font-size: 20px;
    font-family: 'Minecraftia', serif;
    border-radius: 0;
    background: pink;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}

footer {
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 0;
    margin-top: auto;
}